# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
media/

# Environment
.env
venv/
.env.*

# VS Code / JetBrains
.vscode/
.idea/

# Mac/Linux
.DS_Store
